h1{
    color:rgb(53, 0, 90);
}


h2{
    color: rgb(53, 0, 90);
}

p{
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman';
}

body {
    background-color: rgb(209, 168, 209);
}